/* @media only screen and (min-width: 650px){
  p {
    color: red;
  }
} */

body {
  margin: 10% 10% 5% 10%;
}

.container-fluid #Content {
  padding-left: 30px;
}

h1 {
  text-align: center;
}

.btn {
  border-radius: 0px;
}
