.cornell-brand {
	background: $cornell-primary;
	height: 85px;
	padding: 5px 0;
	// font-family: $cornell-font;
	h1 { 
		display: inline; 
		margin: 0; }
}
.cornell-logo {
	@include make-sm-column(6);
	padding-left: 0;
}
.cu-logo {
	display: block;
	background: url("https://www.library.cornell.edu/sites/all/themes/bootstrap_cul7/img/layout/cul-logo-red.gif") no-repeat 0 0;
	width: 263px;
	height: 75px;
	a {
		display: block;
		border: none;
		text-indent: -1000em;
		text-decoration: none;
	}
	a#insignia-link {
		float: left;
		width: 68px;
		height: 75px;
	}
	#unit-signature-links { float: left; }
	a#cornell-link {
		left: 68px;
		height: 35px;
	}
	a#unit-link {
		top: 38px;
		height: 37px;
	}
	img { display: none; }
}
.search-links {
	text-align: right;
	margin-top: 20px;
	@include make-sm-column(6);
	padding-right: 0;
	ul {
	  	padding-top: 10px;
	  	list-style: none; }
	li { display: inline; }
	a {
	  	color: white;
	  	text-decoration: none;
	  	font-size: 11px;
	  	padding: 5px 15px; }
	a:hover { background: $cornell-primary-hover; }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* High-res styles go here */
  .cu-logo {
    background: url("https://www.library.cornell.edu/sites/all/themes/bootstrap_cul7/img/layout/cul-logo-red-2x.png") no-repeat 0 0;
    background-size: 300px 75px;
    width: 300px; } }
