// Cornell brand
// -------------------------
$cornell-primary: #b31b1b;
$cornell-primary-hover: #990f26;
$cornell-font: verdana, sans-serif;
$cornell-blue: #6eb4cd;
$cornell-blue-border: #4892ac;
$cornell-medium-blue: #0068ac;
$cornell-process-blue: #0093d0;
$cornell-khaki: #998c7c;

$dark-gray: #222;
$medium-gray: #666;
$light-gray: #ccc;
$pale-gray: #f3f3f3;

$tan: #d8d2c9;
$dark-tan: #b3ab9e;
$light-tan: #edebe7;
$pale-tan: #f4f3f0;

$teal: #2aa198;
$medium-teal: #1f7972;
$dark-teal: #16524d;

$btn-cul-color: white;
$btn-cul-bg: $teal;
$btn-cul-border: $medium-teal;

// Links
// -------------------------
$link-color: $cornell-medium-blue;
// $link-color-hover: $cornell-primary;
$link-color-hover: black;


// Bootstrap overrides
// -------------------------

$font-family-sans-serif:  Oxygen;        @import
url(//fonts.googleapis.com/css?family=Oxygen);