<html>
<head>
    <title>AwesomeBox | MLibrary's Shapiro DesignLab</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/static/style.css">
    

</head>

<body>
	<img id="um_logo" src="/static/um_logo.png">
	<img id="um_logo" src="/static/mlibrary_logo.png">
	<br>

		<div id="header">
				<!-- put navbar here -->
					<a id="menu" href="\templates\index.html"> Recently Awesomized </a>
					<a id="menu" href="\templates\most-awesomized.html"> Recently Awesomized </a>
					<a id="menu" href="\templates\about.html"> About </a>
		</div>


		<br>
		<h1 style="padding-right: 20px"> Recently Awesomized </h1>
		<br>


		<div id="content">

		</div>
</body>
</html>
