<!doctype html>
<html lang="en">
<head>
    <title>About Us | The Awesomizer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <style>
      @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif');

      *{
        font-style: "IBM Plex Serif", serif;
      }

      body{
        margin: 5%;
      }

      #book{
        border: #222 1px solid;
        border-radius: 5px;
      }

      nav, .btn {
        background-color: #60748F;
        border: #60748F;
      }

      .btn-info:hover, .btn-info:active{
        background-color: #8694A8;
        border: #8694A8;
      }
    </style>
</head>

<body>
  <h3 style="text-transform: uppercase;text-align:center;"> About the Awesomizer </h3>

  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#60748F">
    <a class="navbar-brand" href="/">The Awesomizer | Shapiro Design Lab</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Recently Awesomized</a>
      <a class="nav-item nav-link" href="/most-awesomized">Most Awesomized</a>
      <a class="nav-item nav-link active" href="/about">About</a>
    </div>
  </div>
  </nav>

   <div class="container-fluid">
     <div class="col">
       <br />
       <h2>Frequently Asked Questions (FAQ): </h2>
       <br />
     </div>

     <div class="col">
       <h3 href="#one" class="btn btn-info" data-toggle="collapse">What is The Awesomizer? Who made it?</h3>
       <div id="one" class="collapse">
         <p>
           The Awesomizer is a library engagement projet implemented by the student developers of the University of Michigan -  Ann Arbor Shapiro Design Lab. The Shapiro Design Lab is a workshop located within the 1st floor of the UGLi, which houses tools, and consulting for students, etc. The Awesomizer was created to amalgamate a collection of books that everyone is reading -- books that are deemed awesome by readers.
         </p>
       </div>
     </div>

     <div class="col">
       <h3 href="#two" class="btn btn-info" data-toggle="collapse">How do I use The Awesomizer + Awesomebox?</h3>
       <div id="two" class="collapse">
         <p>
           Here's how it works:
         </p>

         <ul>
           <li>
             Check out a book or find a book in the library.
           </li>
           <li>
             If you think it was awesome, either:
             <ol>
               <li>
                 Deposit the book into an Awesomebox when you return it.
               </li>
               <li>
                 Scan the book at an Awesomizer kiosk.
               </li>
             </ol>
           </li>
           <li>
             Check the recently awesomized list. Your book should appear.
           </li>
           <li>
             Check out the other books - either most popylar or ones recently enjoyed by other students.
           </li>
           <li>
             Repeat!
           </li>
         </ul>
       </div>
     </div>

     <div class="col">
       <h3 href="#three" class="btn btn-info" data-toggle="collapse">What makes something 'awesome'?</h3>
       <div id="three" class="collapse">
         <p>
           You. It could be exceptionally fun, unusual, helpful, look interesting or otherwise be amazing. You decide what is Awesome. By scanning your item it is displayed, anonymously, on a webpage of other awesome University of Michigan Library items. You make it awesome.
         </p>
       </div>
     </div>

     <div class="col">
       <h3 href="#four" class="btn btn-info" data-toggle="collapse">Where can I find an Awesomebox on campus?</h3>
       <div id="four" class="collapse">
         <p>
           Nowhere... yet! Our first physical Awesome Box is in the works and will be housed on the 1st floor of the Shapiro Undergraduate Library.
         </p>
       </div>
     </div>

     <div class="col">
       <h3 href="#five" class="btn btn-info" data-toggle="collapse">How was this project made?</h3>
       <div id="five" class="collapse">
         <p>
           Code for our project can be found on Github. For this project, we used a Raspberry Pi, a barcode scanner, and a computer. Our version of the project uses python for our barcode and data processing scripts, as well as SocketIO Flask for the server of this website. The scripts and code for this website can be found in our repository.
         </p>
       </div>
     </div>
   </div>
</body>
</html>
