<!doctype html>
<html lang="en">
<head>
    <title>AwesomeBox | MLibrary's DesignLab</title>
    
		<link rel= "stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,400italic,300,100">
		<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <link rel="shortcut icon" href="/static/favicon.png">
    <link rel="apple-touch-icon" href="/static/favicon.png">

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</head>

<body>
  <br> &nbsp; &nbsp;
	<a href="https://www.lib.umich.edu"><img class="content" id="um_logo" src="/static/um_logo.png"></a>
	<a href="https://www.lib.umich.edu"><img class="content" id="um_logo" src="/static/mlibrary_logo.png"></a>
	<br><br>

  <nav class="navbar sticky-top navbar-light" style="background-color:#60748F">
    <a class="navbar-brand" href="/">The Awesomizer | Shapiro DesignLab</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Recently Awesomized</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/most-awesomized">Most Awesomized</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About Us</a>
        </li>
      </ul>
    </div>
  </nav>

	 <br>
   <div class="container-fluid">
	    <h3> Most Awesomized </h1>
    </div>
    <br>

		</div>
</body>
</html>
